body {
    margin: 0;
    text-align: center;
    font-family: 'Lora', serif;
    color: #40514E;
}

.top-container {
    background: #D1F5D3;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    background: white;
    margin: 100px 0;
}

.bottom-container {
    background: #7D5E2A;
    position: relative;
    padding: 50px 0 20px;
}


.intro {
    width: 30%;
    margin: auto;
}


p {
    font-weight: bold;
    line-height: 2;
}

h1 {
    font-family: 'Caveat', serif;
    margin: 50px auto 0 auto;
    font-size: 5rem;
    color: #9DC6A7;
}

h2 {
    font-size: 2.5rem;
    color: #9DC6A7;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #478c59;
}

a {
    color: #231903;
    font-family: 'Lora';
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #9DC6A7;
}

.top-cloud {
    max-width: 150px;
    position: absolute;
    right: 325px;
    top: 20px;
}

.bottom-cloud {
    max-width: 150px;
    position: absolute;
    left: 325px;
    top: 75px;
}


.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.code-image {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.pen-image {
    width: 25%;
    float: right;
    margin-left: 30px;
}

hr {
    width: 3%;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px 0 0 0;
    border-color: grey;
    margin: 100px auto;
    clear: right;
}


.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #D1F5D3, #9DC6A7);
    background-image: -moz-linear-gradient(top, #D1F5D3, #9DC6A7);
    background-image: -ms-linear-gradient(top, #D1F5D3, #9DC6A7);
    background-image: -o-linear-gradient(top, #D1F5D3, #9DC6A7);
    background-image: linear-gradient(to bottom, #D1F5D3, #9DC6A7);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    font-family: 'Lora';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 50px; 
    border: none;
    width: 150px;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #749F82, #425F57);
    background-image: -moz-linear-gradient(top, #749F82, #425F57);
    background-image: -ms-linear-gradient(top, #749F82, #425F57);
    background-image: -o-linear-gradient(top, #749F82, #425F57);
    background-image: linear-gradient(to bottom, #749F82, #425F57);
    text-decoration: none;
  }

  .copyright {
    color: black;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 20px 0px;
  }


  .jake-avatar {
    width: 20%;
  }

  .contact-info {
    margin: 40px auto 60px;
  }